/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'ROBOTO', sans-serif;
  height: 100vh;
}

/* Navbar */
.navbar {
  padding: 12px;
}

.nav > p {
  padding: 12px;
  background-color: #f0f0f0;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
}

.ship-grid {
  width: 100%;
  max-width: 2000px;
  height: auto;
  margin-top: 24px;

  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.user-grid, .bot-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 18px;
}

.user-grid > h2 {
  margin-bottom: 12px;
  font-weight: 100;
}

.bot-grid > h2 {
  margin-bottom: 12px;
  font-weight: 100;
}

.gridRow {
  display: flex;
}

.gridCol {
  width: 35px;
  height: 35px;

  border-right: 1.3px solid black;
  border-bottom: 1.3px solid black;
}

.gridCol:first-child {
  border-left: 1.3px solid black;
}

.gridRow:nth-of-type(1) .gridCol {
  border-top: 1.3px solid black;
}