* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

/* Navbar */
.navbar {
  padding: 12px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
}

.nav > p {
  padding: 12px;
  background-color: #f0f0f0;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

.ship-grid {
  width: 100%;
  max-width: 2000px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.user-section,
.bot-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-section h2,
.bot-section h2 {
  margin-bottom: 12px;
  font-weight: 100;
}

.user-grid,
.bot-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 18px;
}

.gridRow {
  display: flex;
}

.gridCol {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-right: 1.3px solid black;
  border-bottom: 1.3px solid black;
  transition: background-color 0.2s;
}

.gridCol:first-child {
  border-left: 1.3px solid black;
}

.gridRow:first-of-type .gridCol {
  border-top: 1.3px solid black;
}

.gridCol:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.button-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-section button {
  width: 100px;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

.randomize,
.start {
  width: 50px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.randomize:hover,
.start:hover {
  background-color: grey;
}
